In [1]:
import pandas as pd

### fragment
grabbing and adding names from a dictionary
```python
teams_to_abbreviation
for ind in df.index:
    visitor = df['VISITOR_TEAM_ID'][ind]
    home = df['HOME_TEAM_ID'][ind]
    df['VISITOR_ABBR'][ind] = team_to_abbreviation[visitor]
    df['HOME_ABBR'][ind] = team_to_abbreviation[home]
```

In [2]:
import pandas as pd

In [19]:
import pandas as pd
df = pd.read_csv('testing_2021_0.csv')

In [11]:
df_2 = pd.read_csv('box_score_2021_V3.csv')

In [12]:
df_2.head(1)

,ID,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,HOME_TEAM_WINS,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away
0,1,2020-12-22,BRK,GSW,125.0,99.0,26,1,0.457,0.813,0.429,24,57,0.374,0.652,0.303,26,47

In [20]:
mask = (df['DATE'] > '2021-01-21')

In [21]:
df_into_season = df.loc[mask]

In [15]:
mask2 = (df['DATE'] <= '2021-01-21')
df_second = df.loc[mask2]

In [15]:
len(df_into_season) + len(df_second)

298

TUTORIAL

```python
#already rean so read this
#run this to include abbreviations
for ind in sample_df.index:
    visitor = sample_df['VISITOR_TEAM_ID'][ind]
    home = sample_df['HOME_TEAM_ID'][ind]
    sample_df['VISITOR_ABBR'][ind] = team_to_abbreviation[visitor]
    sample_df['HOME_ABBR'][ind] = team_to_abbreviation[home]
```

Tutorial, how to make a normalized list for plotting:

```python

margin_list = calculated_df2['margin'].tolist()
max(margin_list)
11.594047619047627
norm = [float(i)/max(margin_list) for i in margin_list]
calculated_df2['normMargin'] = norm
```

In [22]:
calculated_df_columns = ['DATE', 'HOME_ABBR', 'VISITOR_ABBR', 'MARGIN', 'PTS_home', 'PTS_away', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home',
       'REB_home', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away',
       'AST_away', 'REB_away', 'HOME_TEAM_WINS']

calculated_df= pd.DataFrame(columns=calculated_df_columns)
#initialize empty dataframe

This is calculating something else with the shortened season but I want the averages so I need something that is prior to today's date.

What are you trying to do?
* Make sure this is good: 
* Make sure that I can get the last ten games played

```python

.tail
```

In [6]:
df_into_season

NameError: name 'df_into_season' is not defined

In [28]:
df_into_season

,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,margin,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
212,2021-01-22,CHO,CHI,110.0,123.0,-13,0.494,0.760,0.219,22,46,0.510,0.833,0.349,33,43,0
213,2021-01-22,DET,HOU,102.0,103.0,-1,0.378,0.676,0.469,17,55,0.389,0.750,0.341,24,51,0
214,2021-01-22,IND,ORL,120.0,118.0,2,0.495,0.889,0.353,28,44,0.457,0.625,0.459,29,49,1
215,2021-01-22,CLE,BRK,125.0,113.0,12,0.517,0.844,0.320,24,50,0.483,0.882,0.326,23,29,1
216,2021-01-22,PHI,BOS,122.0,110.0,12,0.556,0.833,0.429,23,45,0.456,0.800,0.400,23,32,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293,2021-02-01,MIL,POR,134.0,106.0,28,0.552,0.583,0.500,38,53,0.375,1.000,0.357,19,45,1
294,2021-02-01,NOP,SAC,109.0,118.0,-9,0.396,0.833,0.300,22,46,0.477,0.769,0.326,31,52,0
295,2021-02-01,OKC,HOU,106.0,136.0,-30,0.438,0.789,0.382,21,45,0.480,0.909,0.538,30,50,0
296,2021-02-01,DAL,PHO,108.0,109.0,-1,0.430,0.960,0.313,16,42,0.467,0.833,0.371,19,45,0
297,2021-02-01,SAS,MEM,102.0,133.0,-31,0.416,0.682,0.351,28,42,0.559,0.778,0.500,37,53,0

In [26]:
df_into_season.head(5)

,ID,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,HOME_TEAM_WINS,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away
212,213,2021-01-22,CHO,CHI,110.0,123.0,-13,0,0.494,0.760,0.219,22,46,0.510,0.833,0.349,33,43
213,214,2021-01-22,DET,HOU,102.0,103.0,-1,0,0.378,0.676,0.469,17,55,0.389,0.750,0.341,24,51
214,215,2021-01-22,IND,ORL,120.0,118.0,2,1,0.495,0.889,0.353,28,44,0.457,0.625,0.459,29,49
215,216,2021-01-22,CLE,BRK,125.0,113.0,12,1,0.517,0.844,0.320,24,50,0.483,0.882,0.326,23,29
216,217,2021-01-22,PHI,BOS,122.0,110.0,12,1,0.556,0.833,0.429,23,45,0.456,0.800,0.400,23,32

In [23]:
for ind in df_into_season.index:
    date = df_into_season['DATE'][ind]
    home_team_abbr = df_into_season['HOME_ABBR'][ind]
    visitor_team_abbr = df_into_season['VISITOR_ABBR'][ind]
    home_team_wins = df_into_season['HOME_TEAM_WINS'][ind]
    mask = (df['DATE'] < date)
    new_ = df.loc[mask]
    home_df2 = new_.loc[new_['HOME_ABBR'] == home_team_abbr]
    home_as_visitor_df2 = new_.loc[new_['VISITOR_ABBR'] == home_team_abbr]
    home_df2 = home_df2.loc[home_df2['PTS_home'] != 0.0]
    home_as_visitor_df2 = home_as_visitor_df2.loc[home_as_visitor_df2['PTS_home'] != 0]
    
    home_df2_groupby = home_df2.groupby(['HOME_ABBR']).mean()
    home_df2_groupby = home_df2_groupby[['PTS_home', 'PTS_away', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home',
       'REB_home', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away',
       'AST_away', 'REB_away']]

    home_as_visitor_df2_groupby = home_as_visitor_df2.groupby(['VISITOR_ABBR']).mean()
    home_as_visitor_df2_groupby = home_as_visitor_df2_groupby[['PTS_home', 'PTS_away', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home',
       'REB_home', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away',
       'AST_away', 'REB_away']]
    
    home_pts = 0.75 * home_df2_groupby.iloc[0,0] + 0.25 * home_as_visitor_df2_groupby.iloc[0,1]
    #home_pts
    home_fg3_pct = 0.75 * home_df2_groupby.iloc[0,4] + 0.25 * home_as_visitor_df2_groupby.iloc[0,9]
    home_ast = 0.75 * home_df2_groupby.iloc[0,5] + 0.25 * home_as_visitor_df2_groupby.iloc[0,10]
    home_reb = 0.75 * home_df2_groupby.iloc[0,6] + 0.25 * home_as_visitor_df2_groupby.iloc[0,11]
    home_fg_pct = 0.75 * home_df2_groupby.iloc[0,2] + 0.25 * home_as_visitor_df2_groupby.iloc[0,7]
    home_ft_pct = 0.75 * home_df2_groupby.iloc[0,3] + 0.25 * home_as_visitor_df2_groupby.iloc[0,8]
    
 #trying to gather something more

    visitor_df2= new_.loc[new_['VISITOR_ABBR'] == visitor_team_abbr]
    visitor_as_home_df2 = new_.loc[new_['HOME_ABBR'] == visitor_team_abbr]
    
    visitor_df2 = visitor_df2.loc[visitor_df2['PTS_home'] != 0]
    visitor_as_home_df2 = visitor_as_home_df2.loc[visitor_as_home_df2['PTS_home'] !=0]
    
#might consider later in the weighted average
    visitor_df2_groupby = visitor_df2.groupby(['VISITOR_ABBR']).mean()
    visitor_df2_groupby = visitor_df2_groupby[['PTS_home', 'PTS_away', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home',
       'REB_home', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away',
       'AST_away', 'REB_away']]

    
    visitor_as_home_df2_groupby = visitor_as_home_df2.groupby(['HOME_ABBR']).mean()
    visitor_as_home_df2_groupby = visitor_as_home_df2_groupby[['PTS_home', 'PTS_away', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home',
       'REB_home', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away',
       'AST_away', 'REB_away']]
    
    visitor_pts = 0.75 * visitor_df2_groupby.iloc[0,0] + 0.25 * visitor_as_home_df2_groupby.iloc[0,1]
#visitor_pts
    visitor_fg3_pct = 0.75 * visitor_df2_groupby.iloc[0,4] + 0.25 * visitor_as_home_df2_groupby.iloc[0,9]
    visitor_ast = 0.75 * visitor_df2_groupby.iloc[0,5] + 0.25 * visitor_as_home_df2_groupby.iloc[0,10]
    visitor_reb = 0.75 * visitor_df2_groupby.iloc[0,6] + 0.25 * visitor_as_home_df2_groupby.iloc[0,11]
    visitor_fg_pct = 0.75 * visitor_df2_groupby.iloc[0,2] + 0.25 * visitor_as_home_df2_groupby.iloc[0,7]
    visitor_ft_pct = 0.75 * visitor_df2_groupby.iloc[0,8] + 0.25 * visitor_as_home_df2_groupby.iloc[0,3]

    margin = home_pts - visitor_pts
    empty_ = []
    empty_.append(date)
    empty_.append(home_team_abbr)
    empty_.append(visitor_team_abbr)
    empty_.append(margin)
    empty_.append(home_pts)
    empty_.append(visitor_pts)
    empty_.append(home_fg_pct)
    empty_.append(home_ft_pct)
    empty_.append(home_fg3_pct)
    empty_.append(home_ast)
    empty_.append(home_reb)
    empty_.append(visitor_fg_pct)
    empty_.append(visitor_ft_pct)
    empty_.append(visitor_fg3_pct)
    empty_.append(visitor_ast)
    empty_.append(visitor_reb)
    empty_.append(home_team_wins)
    length_of_average_playoffs_df = len(calculated_df)
    calculated_df.loc[length_of_average_playoffs_df] = empty_

In [25]:
calculated_df.tail(10)

,DATE,HOME_ABBR,VISITOR_ABBR,MARGIN,PTS_home,PTS_away,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
139,2021-02-08,LAL,OKC,4.138312,115.842857,111.704545,0.499950,0.751571,0.378936,25.782143,45.125000,0.456159,0.732955,0.339386,24.386364,48.977273,1
140,2021-02-10,WAS,TOR,4.658800,118.041667,113.382867,0.467604,0.754604,0.346312,25.291667,43.562500,0.461934,0.826212,0.379269,26.959790,44.734266,0
141,2021-02-10,DAL,ATL,-1.019481,110.855519,111.875000,0.456994,0.760955,0.336713,22.644481,42.615260,0.447583,0.816300,0.325506,23.488462,45.103846,0
142,2021-02-10,BRK,IND,9.300000,121.000000,111.700000,0.499625,0.813725,0.402475,26.850000,45.375000,0.456467,0.757183,0.394617,26.250000,45.883333,0
143,2021-02-10,MEM,CHO,-3.899964,107.705556,111.605519,0.451222,0.786297,0.349561,27.225000,44.405556,0.464705,0.746679,0.380398,28.881494,45.931818,0
144,2021-02-10,MIN,LAC,-0.353001,106.937063,107.290064,0.444579,0.744916,0.345358,24.283217,43.837413,0.466630,0.853277,0.358732,23.193910,40.746795,0
145,2021-02-10,CHI,NOP,0.214015,112.145833,111.931818,0.464259,0.790413,0.359074,24.979167,44.041667,0.457591,0.682886,0.386750,27.045455,41.340909,0
146,2021-02-10,DEN,CLE,6.059524,115.598485,109.538961,0.472850,0.790301,0.380754,26.617424,44.806818,0.469474,0.693016,0.399570,24.490260,45.522727,0
147,2021-02-10,LAL,OKC,3.608766,115.904221,112.295455,0.496807,0.752083,0.369138,25.891234,46.079545,0.457062,0.732784,0.333864,24.653409,49.573864,0
148,2021-02-10,PHO,MIL,-1.708916,110.579545,112.288462,0.467265,0.844996,0.364379,26.005682,45.649621,0.456608,0.754418,0.390638,24.594406,42.402098,0

In [27]:
calculated_df.to_csv('predicted_values_for_prediction.csv', index=False)

In [16]:
calculated_df.to_csv('see2021_calculated.csv', index=False)

In [30]:
for ind in df_into_season.head(1).index:
    date = df_into_season['DATE'][ind]
    home_team_abbr = df_into_season['HOME_ABBR'][ind]
    visitor_team_abbr = df_into_season['VISITOR_ABBR'][ind]
    home_team_wins = df_into_season['HOME_TEAM_WINS'][ind]
    mask = (df['DATE'] < date)
    new_ = df.loc[mask]
    home_df2 = new_.loc[new_['HOME_ABBR'] == home_team_abbr]
    home_as_visitor_df2 = new_.loc[new_['VISITOR_ABBR'] == home_team_abbr]
    
    if len(home_df2) > 6:
        home_df2 = home_df2.tail(5)
    else:
        home_df2 = home_df2.tail(len(home_df2))
    home_df2_groupby = home_df2.groupby(['HOME_ABBR']).mean()
    home_df2_groupby = home_df2_groupby[['PTS_home', 'PTS_away', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home',
       'REB_home', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away',
       'AST_away', 'REB_away']]

    if len(home_as_visitor_df2) > 6:
        home_as_visitor_df2 = home_as_visitor_df2.tail(5)
    else:
        home_as_visitor_df2 = home_as_visitor_df2.tail(len(home_as_visitor))
    home_as_visitor_df2_groupby = home_as_visitor_df2.groupby(['VISITOR_ABBR']).mean()
    home_as_visitor_df2_groupby = home_as_visitor_df2_groupby[['PTS_home', 'PTS_away', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home',
       'REB_home', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away',
       'AST_away', 'REB_away']]
    
    home_pts = 0.75 * home_df2_groupby.iloc[0,0] + 0.25 * home_as_visitor_df2_groupby.iloc[0,1]
    #home_pts
    home_fg3_pct = 0.75 * home_df2_groupby.iloc[0,4] + 0.25 * home_as_visitor_df2_groupby.iloc[0,9]
    home_ast = 0.75 * home_df2_groupby.iloc[0,5] + 0.25 * home_as_visitor_df2_groupby.iloc[0,10]
    home_reb = 0.75 * home_df2_groupby.iloc[0,6] + 0.25 * home_as_visitor_df2_groupby.iloc[0,11]
    home_fg_pct = 0.75 * home_df2_groupby.iloc[0,2] + 0.25 * home_as_visitor_df2_groupby.iloc[0,7]
    home_ft_pct = 0.75 * home_df2_groupby.iloc[0,3] + 0.25 * home_as_visitor_df2_groupby.iloc[0,8]
    
 #trying to gather something more
    visitor_df2= new_.loc[new_['VISITOR_ABBR'] == visitor_team_abbr]
    visitor_as_home_df2 = new_.loc[new_['HOME_ABBR'] == visitor_team_abbr]

    if len(visitor_df2) > 6:
        visitor_df2 = visitor_df2.tail(5)
    else
        visitor_df2 = visitor_df2.tail(len(visitor_df2))
    
#might consider later in the weighted average
    visitor_df2_groupby = visitor_df2.groupby(['VISITOR_ABBR']).mean()
    visitor_df2_groupby = visitor_df2_groupby[['PTS_home', 'PTS_away', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home',
       'REB_home', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away',
       'AST_away', 'REB_away']]
    
    
    if len(visitor_as_home_df2) > 6:
        visitor_as_home_df2 = visitor_as_home_df2.tail(5)
    else
        visitor_as_home_df2 = visitor_as_home_df2.tail(len(visitor_as_home_df2))
    
    visitor_as_home_df2_groupby = visitor_as_home_df2_groupby.groupby(['HOME_ABBR']).mean()
    visitor_as_home_df2_groupby = visitor_as_home_df2_groupby[['PTS_home', 'PTS_away', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home',
       'REB_home', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away',
       'AST_away', 'REB_away']]
    
    visitor_pts = 0.75 * visitor_df2_groupby.iloc[0,0] + 0.25 * visitor_as_home_df2_groupby.iloc[0,1]
#visitor_pts
    visitor_fg3_pct = 0.75 * visitor_df2_groupby.iloc[0,4] + 0.25 * visitor_as_home_df2_groupby.iloc[0,9]
    visitor_ast = 0.75 * visitor_df2_groupby.iloc[0,5] + 0.25 * visitor_as_home_df2_groupby.iloc[0,10]
    visitor_reb = 0.75 * visitor_df2_groupby.iloc[0,6] + 0.25 * visitor_as_home_df2_groupby.iloc[0,11]
    visitor_fg_pct = 0.75 * visitor_df2_groupby.iloc[0,2] + 0.25 * visitor_as_home_df2_groupby.iloc[0,7]
    visitor_ft_pct = 0.75 * visitor_df2_groupby.iloc[0,8] + 0.25 * visitor_as_home_df2_groupby.iloc[0,3]

    
    margin = home_pts - visitor_pts
    empty_ = []
    empty_.append(date)
    empty_.append(home_team_abbr)
    empty_.append(visitor_team_abbr)
    empty_.append(margin)
    empty_.append(home_pts)
    empty_.append(visitor_pts)
    empty_.append(home_fg_pct)
    empty_.append(home_ft_pct)
    empty_.append(home_fg3_pct)
    empty_.append(home_ast)
    empty_.append(home_reb)
    empty_.append(visitor_fg_pct)
    empty_.append(visitor_ft_pct)
    empty_.append(visitor_fg3_pct)
    empty_.append(visitor_ast)
    empty_.append(visitor_reb)
    empty_.append(home_team_wins)
    length_of_average_playoffs_df = len(calculated_df)
    calculated_df.loc[length_of_average_playoffs_df] = empty_

In [ ]:
for ind in df_into_season.index:
    date = df_into_season['DATE'][ind]
    home_team_abbr = df_into_season['HOME_ABBR'][ind]
    visitor_team_abbr = df_into_season['VISITOR_ABBR'][ind]
    home_team_wins = df_into_season['HOME_TEAM_WINS'][ind]
    mask = (df['DATE'] < date)
    new_ = df.loc[mask]
    home_df2 = new_.loc[new_['HOME_ABBR'] == home_team_abbr]
    home_as_visitor_df2 = new_.loc[new_['VISITOR_ABBR'] == home_team_abbr]
    home_df_2_length = len(home_df2)
    home_as_visitor_df2_length = len(home_as_visitor_df2)
    home_df2 = home_df2.groupby(['HOME_ABBR']).mean()
    home_df2 = home_df2[['PTS_home', 'PTS_away', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home',
       'REB_home', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away',
       'AST_away', 'REB_away']]
    home_as_visitor_df2= home_as_visitor_df2.groupby(['VISITOR_ABBR']).mean()
    home_as_visitor_df2= home_as_visitor_df2[['PTS_home', 'PTS_away', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home',
       'REB_home', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away',
       'AST_away', 'REB_away']]
    home_pts = 0.75 * home_df2.iloc[0,0] + 0.25 * home_as_visitor_df2.iloc[0,1]
    #home_pts
    home_fg3_pct = 0.75 * home_df2.iloc[0,4] + 0.25 * home_as_visitor_df2.iloc[0,9]
    home_ast = 0.75 * home_df2.iloc[0,5] + 0.25 * home_as_visitor_df2.iloc[0,10]
    home_reb = 0.75 * home_df2.iloc[0,6] + 0.25 * home_as_visitor_df2.iloc[0,11]
    home_fg_pct = 0.75 * home_df2.iloc[0,2] + 0.25 * home_as_visitor_df2.iloc[0,7]
    home_ft_pct = 0.75 * home_df2.iloc[0,3] + 0.25 * home_as_visitor_df2.iloc[0,8]
 #trying to gather something more
    visitor_df2= new_.loc[new_['VISITOR_ABBR'] == visitor_team_abbr]
    visitor_as_home_df2 = new_.loc[new_['HOME_ABBR'] == visitor_team_abbr]
    visitor_df2_length = len(visitor_df2)
    visitor_as_home_df2_length = len(visitor_as_home_df2)
#might consider later in the weighted average
    visitor_df2 = visitor_df2.groupby(['VISITOR_ABBR']).mean()
    visitor_df2 = visitor_df2[['PTS_home', 'PTS_away', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home',
       'REB_home', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away',
       'AST_away', 'REB_away']]
    visitor_as_home_df2 = visitor_as_home_df2.groupby(['HOME_ABBR']).mean()
    visitor_as_home_df2 = visitor_as_home_df2[['PTS_home', 'PTS_away', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home',
       'REB_home', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away',
       'AST_away', 'REB_away']]
    visitor_pts = 0.75 * visitor_df2.iloc[0,0] + 0.25 * visitor_as_home_df2.iloc[0,1]
#visitor_pts
    visitor_fg3_pct = 0.75 * visitor_df2.iloc[0,4] + 0.25 * visitor_as_home_df2.iloc[0,9]
    visitor_ast = 0.75 * visitor_df2.iloc[0,5] + 0.25 * visitor_as_home_df2.iloc[0,10]
    visitor_reb = 0.75 * visitor_df2.iloc[0,6] + 0.25 * visitor_as_home_df2.iloc[0,11]
    visitor_fg_pct = 0.75 * visitor_df2.iloc[0,2] + 0.25 * visitor_as_home_df2.iloc[0,7]
    visitor_ft_pct = 0.75 * visitor_df2.iloc[0,8] + 0.25 * visitor_as_home_df2.iloc[0,3]
    margin = home_pts - visitor_pts
    empty_ = []
    empty_.append(date)
    empty_.append(home_team_abbr)
    empty_.append(visitor_team_abbr)
    empty_.append(margin)
    empty_.append(home_pts)
    empty_.append(visitor_pts)
    empty_.append(home_fg_pct)
    empty_.append(home_ft_pct)
    empty_.append(home_fg3_pct)
    empty_.append(home_ast)
    empty_.append(home_reb)
    empty_.append(visitor_fg_pct)
    empty_.append(visitor_ft_pct)
    empty_.append(visitor_fg3_pct)
    empty_.append(visitor_ast)
    empty_.append(visitor_reb)
    empty_.append(home_team_wins)
    length_of_average_playoffs_df = len(calculated_df)
    calculated_df.loc[length_of_average_playoffs_df] = empty_

In [ ]:
calculated_df

In [ ]:
calculated_df2

In [ ]:
calculated_df.loc[calculated_df['HOME_ABBR'] == 'OKC']

In [ ]:
calculated_df2 = calculated_df[['HOME_ABBR', 'MARGIN', 'FG_PCT_home']]

In [ ]:
calculated_df2 = calculated_df2.groupby(['HOME_ABBR']).mean()

In [ ]:
calculated_df2 = calculated_df2.reset_index()

In [ ]:
df.rename(columns={"A": "a", "B": "c"})

In [ ]:
calculated_df2

In [ ]:
calculated_df2 = calculated_df2.rename(columns={"HOME_ABBR":"homeAbbr", "MARGIN":"margin", "FG_PCT_home":"FGPctHome"})

In [ ]:
calculated_df2 = calculated_df2.to_csv('teams_d3_visual.csv')

In [ ]:
import pandas as pd
calculated_df2 = pd.read_csv('teams_d3_visual.csv')

In [ ]:
calculated_df2

In [ ]:
calculated_df2

In [ ]:
margin_list = calculated_df2['margin'].tolist()

In [ ]:
max(margin_list)

In [ ]:
norm = [float(i)/max(margin_list) for i in margin_list]

In [ ]:
calculated_df2['normMargin'] = norm

In [ ]:
del calculated_df2['normalized']

In [ ]:
calculated_df2.to_csv('normalized_rankings.csv')

In [ ]:
calculated_df2['normMargin'] = calculated_df2['normMargin'] +1

In [ ]:
calculated_df2

In [ ]:
calculated_df2 = calculated_df2.sort_values(['MARGIN'])

In [ ]:
calculated_df2

In [ ]:
calculated_df.to_csv('calculated_df.csv', index=False)

In [ ]:
df.to_csv('abbr_games.csv', index=False)

In [ ]:
df

In [ ]:
#need to run
df = df.loc[df['GAME_DATE_EST'] < '2020-08-16']

In [ ]:
mask = (df['GAME_DATE_EST'] > '2019-10-01') & (df['GAME_DATE_EST'] < '2020-08-16')

In [ ]:
df_m = df.loc[mask]

In [ ]:
df_m

In [ ]:
# need to run
#df_m = df.head(800)

In [ ]:
len(df_m)

In [ ]:
#df_m.to_csv('example800.csv', index=False)

Compile the code here: Simplier Version
```python
df2 = df_m.loc[df_m['HOME_TEAM_ID'] == number]
df2 = df2.head(10)
df2 = df2.reset_index(drop=True)
average_home = df2.groupby(['HOME_TEAM_ID'])
home_df = average_home.mean()
home_df = home_df[['PTS_home', 'PTS_away', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home',
       'REB_home', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away',
       'AST_away', 'REB_away']]

df3 = df_m.loc[df_m['VISITOR_TEAM_ID'] == number]
df3 = df3.head(10)
df3 = df3.reset_index(drop=True)
average_away = df3.groupby(['VISITOR_TEAM_ID'])
away_df = average_away.mean()
away_df = away_df[['PTS_home', 'PTS_away', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home',
       'REB_home', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away',
       'AST_away', 'REB_away']]

empty_ = []
empty_.append(home_df.iloc[0,0])
empty_.append(away_df.iloc[0,1])
empty_.append(home_df.iloc[0,2])
empty_.append(home_df.iloc[0,3])
empty_.append(home_df.iloc[0,4])
empty_.append(home_df.iloc[0,5])
empty_.append(home_df.iloc[0,6])
empty_.append(away_df.iloc[0,7])
empty_.append(away_df.iloc[0,8])
empty_.append(away_df.iloc[0,9])
empty_.append(away_df.iloc[0,10])
empty_.append(away_df.iloc[0,11])

length_of_df = len(home_away_df)
home_away_df.loc[length_of_df] = empty_

```

Rinse and repeat

Export list to explore which numbers to go with

In [ ]:
import pandas as pd
playoffs_df = pd.read_csv('playoffs.csv')

In [ ]:
playoffs_df['VISITOR_ABBR'] = 0
playoffs_df['HOME_ABBR'] = 0

In [ ]:
for ind in playoffs_df.index:
    visitor = playoffs_df['VISITOR_TEAM_ID'][ind]
    home = playoffs_df['HOME_TEAM_ID'][ind]
    playoffs_df['VISITOR_ABBR'][ind] = team_to_abbreviation[visitor]
    playoffs_df['HOME_ABBR'][ind] = team_to_abbreviation[home]

In [ ]:
win_loss_df = playoffs_df[['HOME_TEAM_WINS']]
win_loss_df

In [ ]:
playoffs_df

Tutorial
```python
for ind in df2.index: 
    df2['margin'][ind] = df2['PTS_home'][ind] - df2['PTS_away'][ind]
```

In [ ]:
playoffs_df.to_csv('playoffs.csv')

In [ ]:
#hoping that playoffs has the abbreviations done.

In [ ]:
home_away_df= pd.DataFrame(columns=away_df.columns)
#create empty dataframe

In [ ]:
home_df2 = home_df2.groupby()

In [ ]:
playoffs_df

In [ ]:
average_playoffs_df_columns = ['DATE', 'HOME_ABBR', 'VISITOR_ABBR', 'MARGIN', 'PTS_home', 'PTS_away', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home',
       'REB_home', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away',
       'AST_away', 'REB_away', 'HOME_TEAM_WINS']

In [ ]:
average_playoffs_df = pd.DataFrame(columns=average_playoffs_df_columns)
#initialize empty dataframe

In [ ]:
playoffs_df.head()

In [ ]:
for ind in playoffs_df.index:
    date = playoffs_df['GAME_DATE_EST'][ind]
    home_team_abbr = playoffs_df['HOME_ABBR'][ind]
    visitor_team_abbr = playoffs_df['VISITOR_ABBR'][ind]
    home_team_wins = playoffs_df['HOME_TEAM_WINS'][ind]
    #trying to gather something more
    home_df2= df_m.loc[df_m['HOME_ABBR'] == home_team_abbr]
    home_as_visitor_df2 = df_m.loc[df_m['VISITOR_ABBR'] == home_team_abbr]
    home_df2_length = len(home_df2)
    home_as_visitor_df2_length = len(home_as_visitor_df2)
#might consider later in the weighted average
    home_df2 = home_df2.groupby(['HOME_ABBR']).mean()
    home_df2 = home_df2[['PTS_home', 'PTS_away', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home',
       'REB_home', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away',
       'AST_away', 'REB_away']]
    home_as_visitor_df2 = home_as_visitor_df2.groupby(['VISITOR_ABBR']).mean()
    home_as_visitor_df2 = home_as_visitor_df2[['PTS_home', 'PTS_away', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home',
       'REB_home', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away',
       'AST_away', 'REB_away']]
    home_pts = 0.75 * home_df2.iloc[0,0] + 0.25 * home_as_visitor_df2.iloc[0,1]
    #home_pts
    home_fg3_pct = 0.75 * home_df2.iloc[0,4] + 0.25 * home_as_visitor_df2.iloc[0,9]
    home_ast = 0.75 * home_df2.iloc[0,5] + 0.25 * home_as_visitor_df2.iloc[0,10]
    home_reb = 0.75 * home_df2.iloc[0,6] + 0.25 * home_as_visitor_df2.iloc[0,11]
    home_fg_pct = 0.75 * home_df2.iloc[0,2] + 0.25 * home_as_visitor_df2.iloc[0,7]
    home_ft_pct = 0.75 * home_df2.iloc[0,3] + 0.25 * home_as_visitor_df2.iloc[0,8]
 #trying to gather something more
    visitor_df2= df_m.loc[df_m['VISITOR_ABBR'] == visitor_team_abbr]
    visitor_as_home_df2 = df_m.loc[df_m['HOME_ABBR'] == visitor_team_abbr]
    visitor_df2_length = len(visitor_df2)
    visitor_as_home_df2_length = len(visitor_as_home_df2)
#might consider later in the weighted average
    visitor_df2 = visitor_df2.groupby(['VISITOR_ABBR']).mean()
    visitor_df2 = visitor_df2[['PTS_home', 'PTS_away', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home',
       'REB_home', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away',
       'AST_away', 'REB_away']]
    visitor_as_home_df2 = visitor_as_home_df2.groupby(['HOME_ABBR']).mean()
    visitor_as_home_df2 = visitor_as_home_df2[['PTS_home', 'PTS_away', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home',
       'REB_home', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away',
       'AST_away', 'REB_away']]
    visitor_pts = 0.75 * visitor_df2.iloc[0,0] + 0.25 * visitor_as_home_df2.iloc[0,1]
#visitor_pts
    visitor_fg3_pct = 0.75 * visitor_df2.iloc[0,4] + 0.25 * visitor_as_home_df2.iloc[0,9]
    visitor_ast = 0.75 * visitor_df2.iloc[0,5] + 0.25 * visitor_as_home_df2.iloc[0,10]
    visitor_reb = 0.75 * visitor_df2.iloc[0,6] + 0.25 * visitor_as_home_df2.iloc[0,11]
    visitor_fg_pct = 0.75 * visitor_df2.iloc[0,2] + 0.25 * visitor_as_home_df2.iloc[0,7]
    visitor_ft_pct = 0.75 * visitor_df2.iloc[0,8] + 0.25 * visitor_as_home_df2.iloc[0,3]
    margin = home_pts - visitor_pts
    empty_ = []
    empty_.append(date)
    empty_.append(home_team_abbr)
    empty_.append(visitor_team_abbr)
    empty_.append(margin)
    empty_.append(home_pts)
    empty_.append(visitor_pts)
    empty_.append(home_fg_pct)
    empty_.append(home_ft_pct)
    empty_.append(home_fg3_pct)
    empty_.append(home_ast)
    empty_.append(home_reb)
    empty_.append(visitor_fg_pct)
    empty_.append(visitor_ft_pct)
    empty_.append(visitor_fg3_pct)
    empty_.append(visitor_ast)
    empty_.append(visitor_reb)
    empty_.append(home_team_wins)
    length_of_average_playoffs_df = len(average_playoffs_df)
    average_playoffs_df.loc[length_of_average_playoffs_df] = empty_

In [ ]:
average_playoffs_df

In [ ]:
average_playoffs_df.to_csv('predict_feb3_playoffs.csv', index=False)

In [ ]:
home_pts

In [ ]:
for ind in playoffs_df.index:
    home_team_id = playoffs_df['HOME_TEAM_ID'][ind]
    away_team_id = playoffs_df['VISITOR_TEAM_ID'][ind]
    df2 = df_m.loc[df_m['HOME_TEAM_ID'] == home_team_id]
    df2 = df2.head(30)
    df2 = df2.reset_index(drop=True)
    average_home = df2.groupby(['HOME_TEAM_ID'])
    home_df = average_home.mean()
    home_df = home_df[['PTS_home', 'PTS_away', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home',
       'REB_home', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away',
       'AST_away', 'REB_away']]
    df3 = df_m.loc[df_m['VISITOR_TEAM_ID'] == away_team_id]
    df3 = df3.head(30)
    df3 = df3.reset_index(drop=True)
    average_away = df3.groupby(['VISITOR_TEAM_ID'])
    away_df = average_away.mean()
    away_df = away_df[['PTS_home', 'PTS_away', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home',
       'REB_home', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away',
       'AST_away', 'REB_away']]
    empty_ = []
    empty_.append(home_df.iloc[0,0])
    empty_.append(away_df.iloc[0,1])
    empty_.append(home_df.iloc[0,2])
    empty_.append(home_df.iloc[0,3])
    empty_.append(home_df.iloc[0,4])
    empty_.append(home_df.iloc[0,5])
    empty_.append(home_df.iloc[0,6])
    empty_.append(away_df.iloc[0,7])
    empty_.append(away_df.iloc[0,8])
    empty_.append(away_df.iloc[0,9])
    empty_.append(away_df.iloc[0,10])
    empty_.append(away_df.iloc[0,11])
    length_of_df = len(home_away_df)
    home_away_df.loc[length_of_df] = empty_

In [ ]:
home_away_df['HOME_TEAM_WINS'] = playoffs_df['HOME_TEAM_WINS']

In [ ]:
home_away_df

In [ ]:
home_away_df.to_csv('imported_predicted_df.csv', index=False)

Compile the code here:
```python
df2 = df_m.loc[df_m['HOME_TEAM_ID'] == number]
df2 = df2.head(10)
df2 = df2.reset_index(drop=True)
average_home = df2.groupby(['HOME_TEAM_ID'])
home_df = average_home.mean()
home_df = home_df[['PTS_home', 'PTS_away', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home',
       'REB_home', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away',
       'AST_away', 'REB_away']]

df3 = df_m.loc[df_m['VISITOR_TEAM_ID'] == number]
df3 = df3.head(10)
df3 = df3.reset_index(drop=True)
average_away = df3.groupby(['VISITOR_TEAM_ID'])
away_df = average_away.mean()
away_df = away_df[['PTS_home', 'PTS_away', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home',
       'REB_home', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away',
       'AST_away', 'REB_away']]

empty_ = []
empty_.append(home_df.iloc[0,0])
empty_.append(away_df.iloc[0,1])
empty_.append(home_df.iloc[0,2])
empty_.append(home_df.iloc[0,3])
empty_.append(home_df.iloc[0,4])
empty_.append(home_df.iloc[0,5])
empty_.append(home_df.iloc[0,6])
empty_.append(away_df.iloc[0,7])
empty_.append(away_df.iloc[0,8])
empty_.append(away_df.iloc[0,9])
empty_.append(away_df.iloc[0,10])
empty_.append(away_df.iloc[0,11])

length_of_df = len(home_away_df)
home_away_df.loc[length_of_df] = empty_

```

Rinse and repeat

You want to select on a date.

In [ ]:
#trying to gather something more
home_df2= df_m.loc[df_m['HOME_ABBR'] == 'ORL']
home_as_visitor_df2 = df_m.loc[df_m['VISITOR_ABBR'] == 'ORL']
home_df2_length = len(home_df2)
home_as_visitor_df2_length = len(home_as_visitor_df2)
#might consider later in the weighted average
home_df2 = home_df2.groupby(['HOME_ABBR']).mean()
home_df2 = home_df2[['PTS_home', 'PTS_away', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home',
       'REB_home', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away',
       'AST_away', 'REB_away']]
home_as_visitor_df2 = home_as_visitor_df2.groupby(['VISITOR_ABBR']).mean()
home_as_visitor_df2 = home_as_visitor_df2[['PTS_home', 'PTS_away', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home',
       'REB_home', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away',
       'AST_away', 'REB_away']]
home_pts = 0.75 * home_df2.iloc[0,0] + 0.25 * home_as_visitor_df2.iloc[0,1]
#home_pts
home_fg3_pct = 0.75 * home_df2.iloc[0,4] + 0.25 * home_as_visitor_df2.iloc[0,9]
home_ast = 0.75 * home_df2.iloc[0,5] + 0.25 * home_as_visitor_df2.iloc[0,10]
home_reb = 0.75 * home_df2.iloc[0,6] + 0.25 * home_as_visitor_df2.iloc[0,11]
home_fg_pct = 0.75 * home_df2.iloc[0,2] + 0.25 * home_as_visitor_df2.iloc[0,7]

In [ ]:
print(f'home points = {home_pts}')
print(f'home fg3 points = {home_fg3_pct}')
print(f'home assist = {home_ast}')
print(f'home rebounds = {home_reb}')
print(f'home fg pct = {home_fg_pct}')

In [ ]:
visitor_df2= df_m.loc[df_m['VISITOR_ABBR'] == 'ORL']
visitor_as_home_df2 = df_m.loc[df_m['HOME_ABBR'] == 'ORL']
visitor_df2_length = len(visitor_df2)
visitor_as_home_df2_length = len(visitor_as_home_df2)
visitor_df2 = visitor_df2.groupby(['VISITOR_ABBR']).mean()

In [ ]:
visitor_df2 = visitor_df2[['PTS_home', 'PTS_away', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home',
       'REB_home', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away',
       'AST_away', 'REB_away']]

In [ ]:
#trying to gather something more
visitor_df2= df_m.loc[df_m['VISITOR_ABBR'] == 'ORL']
visitor_as_home_df2 = df_m.loc[df_m['HOME_ABBR'] == 'ORL']
visitor_df2_length = len(visitor_df2)
visitor_as_home_df2_length = len(visitor_as_home_df2)
#might consider later in the weighted average
visitor_df2 = visitor_df2.groupby(['VISITOR_ABBR']).mean()
visitor_df2 = visitor_df2[['PTS_home', 'PTS_away', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home',
       'REB_home', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away',
       'AST_away', 'REB_away']]
visitor_as_home_df2 = visitor_as_home_df2.groupby(['HOME_ABBR']).mean()
visitor_as_home_df2 = visitor_as_home_df2[['PTS_home', 'PTS_away', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home',
       'REB_home', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away',
       'AST_away', 'REB_away']]

In [ ]:
visitor_as_home_df2 = df_m.loc[df_m['HOME_ABBR'] == 'ORL']

In [ ]:
visitor_as_home_df2 = visitor_as_home_df2.groupby(['HOME_ABBR']).mean()
visitor_as_home_df2 = visitor_as_home_df2[['PTS_home', 'PTS_away', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home',
       'REB_home', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away',
       'AST_away', 'REB_away']]

In [ ]:
visitor_df2

In [ ]:
visitor_as_home_df2

In [ ]:
visitor_pts = 0.75* visitor_df2.iloc[0,1] + 0.25*visitor_as_home_df2.iloc[0,0]
visitor_fg3_pct = 0.75 * visitor_df2.iloc[0,9] + 0.25*visitor_as_home_df2.iloc[0,4]
visitor_ast = 0.75 * visitor_df2.iloc[0,10] + 0.25*visitor_as_home_df2.iloc[0,5]
visitor_reb = 0.75 * visitor_df2.iloc[0,11] + 0.25*visitor_as_home_df2.iloc[0,6]
visitor_fg_pct = 0.75 * visitor_df2.iloc[0,7] + 0.25*visitor_as_home_df2.iloc[0,2]

In [ ]:

visitor_pts = 0.75 * visitor_df2.iloc[0,0] + 0.25 * visitor_as_visitor_df2.iloc[0,1]
#visitor_pts
visitor_fg3_pct = 0.75 * visitor_df2.iloc[0,4] + 0.25 * visitor_as_visitor_df2.iloc[0,9]
visitor_ast = 0.75 * visitor_df2.iloc[0,5] + 0.25 * visitor_as_visitor_df2.iloc[0,10]
visitor_reb = 0.75 * visitor_df2.iloc[0,6] + 0.25 * visitor_as_visitor_df2.iloc[0,11]
visitor_fg_pct = 0.75 * visitor_df2.iloc[0,2] + 0.25 * visitor_as_visitor_df2.iloc[0,7]

In [ ]:
print(f'visitor points = {visitor_pts}')
print(f'visitor fg3 points = {visitor_fg3_pct}')
print(f'visitor assist = {visitor_ast}')
print(f'visitor rebounds = {visitor_reb}')
print(f'visitor fg pct = {visitor_fg_pct}')

In [ ]:
print(f'home points = {home_pts}')
print(f'home fg3 points = {home_fg3_pct}')
print(f'home assist = {home_ast}')
print(f'home rebounds = {home_reb}')
print(f'home fg pct = {home_fg_pct}')

In [6]:
mask_team_strength = df['DATE'] < '2021-02-02'

In [7]:
df_team_strength = df.loc[mask_team_strength]

In [18]:
df_team_strength

   HOME_ABBR     margin  FG_PCT_home  normMargin
0        ATL   2.400000     0.443300    2.186047
1        BOS   4.375000     0.465500    2.339147
2        BRK   5.538462     0.496231    2.429338
3        CHI  -5.000000     0.452000    1.612403
4        CHO  -0.500000     0.452800    1.961240
5        CLE   1.727273     0.469909    2.133897
6        DAL  -5.875000     0.453750    1.544574
7        DEN   3.000000     0.471500    2.232558
8        DET  -0.636364     0.416091    1.950669
9        GSW   7.000000     0.470583    2.542636
10       HOU   2.333333     0.442444    2.180879
11       IND   1.333333     0.474500    2.103359
12       LAC   7.400000     0.482000    2.573643
13       LAL   6.500000     0.495375    2.503876
14       MEM  -3.875000     0.445000    1.699612
15       MIA  -4.454545     0.479455    1.654686
16       MIL  12.900000     0.511400    3.000000
17       MIN  -5.454545     0.449182    1.577167
18       NOP  -0.444444     0.451333    1.965547
19       NYK  -2.000000     0.448222    1.844961
20       OKC -16.750000     0.444750    0.701550
21       ORL  -5.200000     0.425100    1.596899
22       PHI   7.181818     0.499273    2.556730
23       PHO   4.500000     0.455375    2.348837
24       POR  -4.100000     0.440800    1.682171
25       SAC  -7.363636     0.490545    1.429175
26       SAS  -3.916667     0.465083    1.696382
27       TOR   3.181818     0.438273    2.246653
28       UTA  10.500000     0.451400    2.813953
29       WAS  -3.000000     0.469875    1.767442

In [19]:
df_team_strength

   HOME_ABBR     margin  FG_PCT_home  normMargin
0        ATL   2.400000     0.443300    2.186047
1        BOS   4.375000     0.465500    2.339147
2        BRK   5.538462     0.496231    2.429338
3        CHI  -5.000000     0.452000    1.612403
4        CHO  -0.500000     0.452800    1.961240
5        CLE   1.727273     0.469909    2.133897
6        DAL  -5.875000     0.453750    1.544574
7        DEN   3.000000     0.471500    2.232558
8        DET  -0.636364     0.416091    1.950669
9        GSW   7.000000     0.470583    2.542636
10       HOU   2.333333     0.442444    2.180879
11       IND   1.333333     0.474500    2.103359
12       LAC   7.400000     0.482000    2.573643
13       LAL   6.500000     0.495375    2.503876
14       MEM  -3.875000     0.445000    1.699612
15       MIA  -4.454545     0.479455    1.654686
16       MIL  12.900000     0.511400    3.000000
17       MIN  -5.454545     0.449182    1.577167
18       NOP  -0.444444     0.451333    1.965547
19       NYK  -2.000000     0.448222    1.844961
20       OKC -16.750000     0.444750    0.701550
21       ORL  -5.200000     0.425100    1.596899
22       PHI   7.181818     0.499273    2.556730
23       PHO   4.500000     0.455375    2.348837
24       POR  -4.100000     0.440800    1.682171
25       SAC  -7.363636     0.490545    1.429175
26       SAS  -3.916667     0.465083    1.696382
27       TOR   3.181818     0.438273    2.246653
28       UTA  10.500000     0.451400    2.813953
29       WAS  -3.000000     0.469875    1.767442

In [9]:
len(df_team_strength['HOME_ABBR'].unique().tolist())

30

In [10]:
df_team_strength

,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,margin,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2020-12-22,BRK,GSW,125.0,99.0,26,0.457,0.813,0.429,24,57,0.374,0.652,0.303,26,47,1
1,2020-12-22,LAL,LAC,109.0,116.0,-7,0.469,0.774,0.310,22,45,0.473,0.737,0.350,22,40,0
2,2020-12-23,CLE,CHO,121.0,114.0,7,0.529,0.750,0.467,34,50,0.500,0.533,0.364,29,32,1
3,2020-12-23,IND,NYK,121.0,107.0,14,0.489,0.724,0.235,28,50,0.459,0.739,0.429,25,40,1
4,2020-12-23,ORL,MIA,113.0,107.0,6,0.477,0.633,0.357,23,41,0.506,0.842,0.350,25,43,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293,2021-02-01,MIL,POR,134.0,106.0,28,0.552,0.583,0.500,38,53,0.375,1.000,0.357,19,45,1
294,2021-02-01,NOP,SAC,109.0,118.0,-9,0.396,0.833,0.300,22,46,0.477,0.769,0.326,31,52,0
295,2021-02-01,OKC,HOU,106.0,136.0,-30,0.438,0.789,0.382,21,45,0.480,0.909,0.538,30,50,0
296,2021-02-01,DAL,PHO,108.0,109.0,-1,0.430,0.960,0.313,16,42,0.467,0.833,0.371,19,45,0
297,2021-02-01,SAS,MEM,102.0,133.0,-31,0.416,0.682,0.351,28,42,0.559,0.778,0.500,37,53,0

In [11]:
df_team_strength = df_team_strength[['HOME_ABBR', 'margin', 'FG_PCT_home']]
df_team_strength = df_team_strength.groupby(['HOME_ABBR']).mean()

In [12]:
df_team_strength_margin_list = df_team_strength['margin'].tolist()
df_team_strength_norm_margin_list = [float(i)/max(df_team_strength_margin_list) for i in df_team_strength_margin_list]
df_team_strength['normMargin'] = df_team_strength_norm_margin_list
df_team_strength['normMargin'] = df_team_strength['normMargin'] + 2

In [13]:
df_team_strength = df_team_strength.reset_index()

In [14]:
df_team_strength.to_csv('team_strength2021.csv')